BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 105
BreakBeforeBraces: Custom
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Right
ReferenceAlignment: Right
SpaceBeforeParens: Never
SpaceBeforeAssignmentOperators: true
IndentCaseLabels: true

BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: true
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

IncludeIsMainRegex: '(.*)'
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$' 
    Priority: 1
  - Regex: '^".*"$' 
    Priority: 2
